<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>体育在线-<%= title %></title>
     <link rel="stylesheet" href="stylesheets/jquery.mobile-1.4.2.css" />
	  <script src="javascripts/jquery-1.8.0.min.js"></script>
	   <script src="javascripts/jquery.mobile-1.4.2.min.js"></script>
</head>
  <body>
   <%= league %>
  </body>
</html>